@media only screen and (max-width: 500px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .item {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .item a {
        padding: 0;
        font-size: 16px;
    }

    .logo img {
        height: 60px;
    }

    #home {
        height: 370px;
    }

    #home::before {
        height: 75%;
    }

    #home h1 {
        font-size: 40px;
    }

    #home p {
        padding: 12px 0 0 20px;
    }

    #services {
        height: 1584px;
    }

    .services {
        margin-bottom: 10px;
    }

    .service {
        flex-direction: column;
    }

    #clients {
        height: 416px;
    }

    .clients {
        flex-wrap: wrap;
    }

    .client img {
        height: 148px;
    }

    #contact::before {
        background-size: 483px;
        background-color: #33c0f3;
    }

    .contact form {
        width: 90%;
    }

    .contact input {
        width: 60%;
    }

    .contact textarea {
        width: 60%;
        height: 120px;
    }
}